@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes selected {
  0% {
    width:0px;
    transform: scalex(0);
    transform: rotate(0turn);
    margin-right: 0;
  }

  25% {
    width:16px;
    transform: scalex(1);
    margin-right: 0.5rem;
  }

  100% {
    transform: rotate(1.5turn);
  }
}

@keyframes unselected {
  0% {
    transform: scaleX(1);
    transform: rotate(1.5turn);
    width:16px;
  }

  75% {
    transform: rotate(0turn);
    margin-right: 0.5rem;
  }

  100% {
    transform: scaleX(0);
    width:0px;
    margin-right: 0;
  }
}

.sidebar-menu-star-selected {

  animation: selected 500ms;
  animation-timing-function: ease-in-out;
  transform: rotate(1.5turn);
  transform: scale(1);
  margin-right: 0.5rem;
}

.sidebar-menu-star-unselected {

  animation: unselected 500ms;
  animation-timing-function: ease-in-out;
  transform: rotate(0);
  transform: scaleX(0);
  width:0px;
  margin-right: 0rem;
}